@font-face {
  font-family: 'iconfont'; /* Project id 1347995 */
  src: url('iconfont.woff2?t=1665469941282') format('woff2'),
    url('iconfont.woff?t=1665469941282') format('woff'),
    url('iconfont.ttf?t=1665469941282') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card-todo-delete:before {
  content: '\e686';
}

.icon-dingding-announcement:before {
  content: '\e682';
}

.iconH1:before {
  content: '\e61b';
}

.iconyouxu:before {
  content: '\e61c';
}

.iconmd-bold:before {
  content: '\e61a';
}

.icon-exit:before {
  content: '\e681';
}

.icon-md-h1:before {
  content: '\e610';
}

.icon-md-h3:before {
  content: '\e611';
}

.icon-md-quote:before {
  content: '\e612';
}

.icon-md-strikethrough:before {
  content: '\e613';
}

.icon-md-text:before {
  content: '\e614';
}

.icon-md-h2:before {
  content: '\e615';
}

.icon-md-link:before {
  content: '\e616';
}

.icon-md-numbered-list:before {
  content: '\e617';
}

.icon-md-italic:before {
  content: '\e618';
}

.icon-md-bulleted-list:before {
  content: '\e619';
}

.icon-card:before {
  content: '\e677';
}

.icon-kanban:before {
  content: '\e678';
}

.icon-innovation-download:before {
  content: '\e676';
}

.icon-loading:before {
  content: '\e674';
}

.icon-openpage:before {
  content: '\e673';
}

.icon-card-todo-at:before {
  content: '\e671';
}

.iconicon-card-datedtime:before {
  content: '\e670';
}

.iconicon-card-downward:before {
  content: '\e66e';
}

.iconsnajiaoxing:before {
  content: '\e66c';
}

.iconicon-card-search:before {
  content: '\e66d';
}

.iconicon-card-associate1:before {
  content: '\e66b';
}

.iconicon-home-help:before {
  content: '\e731';
}

.iconicon-home-Recycle-Bin:before {
  content: '\e72b';
}

.iconicon-card-add:before {
  content: '\e667';
}

.iconicon-card-table:before {
  content: '\e665';
}

.iconicon-card-word:before {
  content: '\e666';
}

.iconicon-repeat:before {
  content: '\e72f';
}

.iconicon-spring-blue:before {
  content: '\e724';
}

.iconicon-spring-green:before {
  content: '\e725';
}

.iconicon-spring-pink:before {
  content: '\e726';
}

.iconicon-Observer:before {
  content: '\e72e';
}

.iconimg-mine-VIP-expired:before {
  content: '\e72d';
}

.iconimg-related:before {
  content: '\e72c';
}

.iconicon_remind:before {
  content: '\e719';
}

.iconicon-edit1:before {
  content: '\e711';
}

.iconicon-delete:before {
  content: '\e70f';
}

.iconicon_group_drag:before {
  content: '\e710';
}

.iconicon_filter:before {
  content: '\e70e';
}

.iconicon_card_comment:before {
  content: '\e70a';
}

.iconicon_help:before {
  content: '\e709';
}

.iconicon-example:before {
  content: '\e708';
}

.iconicon-home-collect1:before {
  content: '\e705';
}

.iconicon-home-collected1:before {
  content: '\e707';
}

.iconicon-home1:before {
  content: '\e70d';
}

.iconicon-card-file1:before {
  content: '\e70c';
}

.iconicon-home-all1:before {
  content: '\e706';
}

.iconicon-example1:before {
  content: '\e70b';
}

.iconicon_Zoom_Out:before {
  content: '\e704';
}

.iconicon_profile_photo:before {
  content: '\e703';
}

.iconicon-next:before {
  content: '\e702';
}

.iconicon-save1:before {
  content: '\e701';
}

.iconwangyeicon:before {
  content: '\e6ff';
}

.iconicon-download1:before {
  content: '\e6fe';
}

.iconicon-amin:before {
  content: '\e6fd';
}

.iconicon-web:before {
  content: '\e6f3';
}

.iconicon-card-annex:before {
  content: '\e6d8';
}

.iconicon-search:before {
  content: '\e6fc';
}

.iconicon-card-checklist:before {
  content: '\e6f4';
}

.iconicon-card-description:before {
  content: '\e6f5';
}

.iconicon-card-more:before {
  content: '\e6f8';
}

.iconicon-card-label:before {
  content: '\e6f9';
}

.iconicon-card-people:before {
  content: '\e6fa';
}

.iconicon-share1:before {
  content: '\e6fb';
}

.iconicon_hide:before {
  content: '\e6a3';
}

.iconicon-return:before {
  content: '\e6f2';
}

.iconicon-kanban-detail:before {
  content: '\e6ee';
}

.iconicon-recover:before {
  content: '\e6ef';
}

.iconicon-setting:before {
  content: '\e6f0';
}

.iconicon-share:before {
  content: '\e6f1';
}

.iconicon-card-follow:before {
  content: '\e6d9';
}

.iconicon-card-list:before {
  content: '\e6da';
}

.iconicon-card-time:before {
  content: '\e6db';
}

.iconicon-home-add:before {
  content: '\e6dc';
}

.iconicon-home-more:before {
  content: '\e6e1';
}

.iconicon-home-notice:before {
  content: '\e6e2';
}

.iconicon-message-error:before {
  content: '\e6e4';
}

.iconicon-message-warning:before {
  content: '\e6e5';
}

.iconicon-message-success:before {
  content: '\e6e6';
}

.iconicon-modal-checked:before {
  content: '\e6e7';
}

.iconicon-modal-close:before {
  content: '\e6e8';
}
